* {
  box-sizing: border-box;  
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1vw;
  line-height: 1.5;
  background-color: #224;
}

main {
  width: 100rem;
  height: 56.25rem;
  margin: 0 auto;
  background-color: #dde;
  font-size: 2rem;
}

footer {
  margin: 2rem 0;
  text-align: center;
  color: #779;
}

h1 {
  text-align: center;
  color: #27c;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 0 5rem;
}

p {
  color: #234;
  text-align: center;
  margin: 0 0 2rem;
}

a {
  color: inherit;
}

.button {
  display: inline-block;
  background-color: #27c;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #49e;
}

.much-padded {
  padding: 5rem;
}

.padded {
  padding: 0.5rem;
}

.rows {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex: 1 1 0;
}

.status {
  background: #fff;
}

.mapbox {
  background: #fff;
  width: 80rem;
  height: 40rem;
}

.controls {
  background: #ffe;
}

#map {
  display: block;
  background-color: #567;
}

.chat {
  background: #eff;
  width: 20rem;
}

.chat-log {
  height: 100%;
  overflow-y: scroll;
  font-size: 75%;
}

.chat-input {
  display: block;
  font-size: inherit;
  width: 100%;
}
