* {
  box-sizing: border-box;  
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1vw;
  line-height: 1.5;
  background-color: #000051; /* Indigo 900 Dark */
}

main {
  position: relative;
  width: 100rem;
  height: 56.25rem;
  margin: 0 auto;
  background-color: #e8eaf6; /* Indigo 50 */
  font-size: 2rem;
}

footer {
  margin: 2rem 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

h1 {
  text-align: center;
  color: #0288d1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 0 5rem;
}

.much-after {
  margin: 0 20rem 5rem;
}

p {
  color: #002f6c;
  text-align: center;
  margin: 0 0 2rem;
}

a {
  color: inherit;
}

ol, ol > li {
  margin: 0;
  margin-left: 2rem;
  padding: 0;
}

.smallish {
  font-size: 60%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkened {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.darkened h1 {
  color: #b3e5fc;
}

.darkened p,
.connecting p {
  color: #fff;
}

.lightened {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

.connecting {
  color: #fff;
  background-color: #1a237e;
}

.button {
  display: inline-block;
  background-color: #0288d1;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
}

.button:hover,
.button:focus {
  background-color: #03a9f4;
}

.button:active {
  background-color: #0277bd;
}

.button.disabled {
  background-color: #616161;
  cursor: default;
}

.much-padded {
  padding: 5rem;
}

.padded {
  padding: 1rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.rows {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex: 1 1 0;
}

.status {
  background-color: #eceff1;
  box-shadow: 0 0 8px #000;
  z-index: 1;
}

.dense {
  line-height: 2rem;
}

.small {
  font-size: 50%;
}

.mapbox {
  background-color: #455a64;
  width: 70rem;
  height: 35rem;
}

.controls {
  background-color: #eceff1;
}

#map {
  display: block;
}

#share-link-box {
  background-color: #0288d1;
  color: #fff;
}

#share-link {
  font-size: 58%;
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #fff;
  color: #222;
}

.rankings {
  background-color: #eceff1;
}

.player-ranking {
  display: flex;
  flex-direction: row;
}

.player-ranking-done {
  flex: 0 0 1.2em;
}

.player-ranking-name {
  flex: 1 1 0;
}

.player-ranking-cash {
  flex: 0 0 auto;
  text-align: right;
}

.player-name {
  text-shadow: 1px 1px 1px black;
}

.my-player-name {
  font-weight: bold;
}

.chat {
  background-color: #cfd8dc;
}

.chat-log {
  height: 100%;
  overflow-y: scroll;
  font-size: 75%;
}

.game-message {
  font-weight: bold;
}

.chat-input {
  display: block;
  font-size: inherit;
  width: 100%;
}

.tile-none .tile-coords {
  display: none;
}

.tile-none .none-controls {
  display: block;
}

.tile-coast .coast-controls {
  display: block;
}

.tile-water .water-controls {
  display: block;
}
